{% comment %}
  Render Sort elements in collections
  Usage:
  {% render 'sort' %}
{% endcomment %}

<div class="sort-by__wrapper">

  <!-- Title of sort by -->
  <span>{{ 'products.facets.sort_by_label' | t }}</span>

  <!-- Sort by list -->
  <select id="sort-by">
    {% assign sort_by = collection.sort_by | default: collection.default_sort_by %}

    {% for option in collection.sort_options %}
      <option 
        value="{{ option.value }}" 
        {% if option.value == sort_by %}
          selected="selected"
        {% endif %}
       >
        {{ option.name }}
      </option>
    {% endfor %}
  </select>

</div>