<ul class="flex">
  <li>
    <a href="{{ routes.account_url }}">
      {% render 'icon-account' %}
    </a>
  </li>
  <li class="button-cart">
    <button type="button" class="button-cart" aria-label="Open cart">
      {% render 'icon-cart' %}
    </button>
  </li>
</ul>
{% render 'top-search' %}
