<div class="header__user">
  <span onclick="location.href='{{ routes.account_url }}'">
    {% render 'icon-account' %}
  </span>
  <span class="button-cart-js">
    {% render 'icon-cart' %}
  </span>
</div>
