@use '../abstracts/variables';

.collection-filters {
  margin-bottom: variables.$margin-section;

  &__actives {
    display: flex;
    flex-wrap: wrap;

    & > * {
      margin-right: 15px;
      background: variables.$color-black;
      color: variables.$color-white;
      padding: 5px;
      border-radius: 5px;
    }

    a {
      color: variables.$color-white;
    }
  }

  &__controls {
    width: 100%;
    --justify: space-between;
    align-items: flex-start;

    button {
      width: 30px;
      height: 30px;
      border: 1px solid #000;
      background-color: transparent;
      border-radius: 5px;
      --justify: center;

      svg {
        width: 20px;
      }
    }

    & > div > select {
      padding: 10px 5px;
      margin-right: 15px;
    }
    .filter-option {
      display: flex;
      align-items: center;
      align-items: flex-start;

      label {
        position: relative;
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;
        display: flex;
        overflow: hidden;
        height: 100%;
        box-sizing: border-box;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 8px 16px;
        margin-left: 16px;
        background-color: #b1b1b1;
        border-radius: 118px;
        color: variables.$color-white;
        cursor: pointer;
        text-transform: uppercase;
      
        &:last-of-type {
          margin-right: 0;
        }
      }

      button {
        margin-right: 15px;
      }
    }
    
  }
}
/* filtros de rango */
.wrapper-filter {
  padding: 20px 20px 40px 20px;
  background: white;
  border-radius: 10px;
}

.label-check {
  position: relative;
}

.color {
  .label-check[data-disable="true"] {
    >span::before {
      position: absolute;
      top: 6px;
      left: 16px;
      width: 2px;
      height: 69%;
      background: #995555;
      content: " ";
      transform: rotate(45deg);
    }
  }
}


.price-in {
  .field {
    display: flex;
    width: 50%;
    height: 45px;
    align-items: center;
    margin-top: 25px;
  }
  .field:nth-child(1) {
    float: left;
  }
  .field:nth-child(2) {
    display: inline-flex;
  }
}
.field {
  input {
    width: 42%;
    height: 82%;
    padding-left: 10px;
    border: 1px solid gray;
    margin-left: 12px;
    background: white;
    outline: none;
  }
  input[type="number"]::-webkit-inner-spin-button,
  .field input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
}
.slider-filter {
  position: relative;
  top: 15px;
  height: 5px;
  background: gray;
  border-radius: 5px;
  .pro {
    position: absolute;
    right: 4%;
    left: 7%;
    height: 5px;
    background: #000000;
    border-radius: 5px;
  }
}
.range-in {
  position: relative;
  input {
    position: absolute;
    top: 10px;
    width: 100%;
    height: 5px;
    -webkit-appearance: none;
    background: none;
    pointer-events: none;
  }
  input[type="range"]::-webkit-slider-thumb {
    width: 17px;
    height: 17px;
    border: none;
    -webkit-appearance: none;
    background: #000000;
    border-radius: 50px;
    pointer-events: auto;
  }
}
.ranges {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #777777;
}
