@use '../abstracts/variables';

.collection-filters {
  margin-bottom: variables.$margin-section;

  &_controls {
    width: 100%;
    --justify: space-between;

    button {
      width: 30px;
      height: 30px;
      background-color: transparent;
      border-radius: 5px;
      border: 1px solid #000;
      --justify: center;

      svg {
        width: 20px;
      }
    }

    & > div > select {
      padding: 10px 5px;
      margin-right: 15px;
    }
  }
}