@use '../abstracts/variables';

.collection-filters {
  margin-bottom: variables.$margin-section;

  &_controls {
    width: 100%;
    --justify: space-between;

    button {
      width: 30px;
      height: 30px;
      background-color: transparent;
      border-radius: 5px;
      border: 1px solid #000;
      --justify: center;

      svg {
        width: 20px;
      }
    }

    & > div > select {
      padding: 10px 5px;
      margin-right: 15px;
    }
  }
}
/* filtros de rango */
.wrapper-filter{
  background: white;
  border-radius: 10px;
  padding: 20px 20px 40px 20px;
}

.label-check{
  position: relative;
}

.color {
  .label-check[data-disable="true"] {
    >span::before {
      content: " ";
      transform: rotate(45deg);
      position: absolute;
      left: 16px;
      top: 6px;
      width: 2px;
      height: 69%;
      background: #995555;
    }   
  }
}


.price-in {
  .field{
    height: 45px;
    width: 50%;
    display: flex;
    align-items: center;
    margin-top: 25px;
  }
  .field:nth-child(1){
    float: left;
  }
  .field:nth-child(2){
    display: inline-flex;
  }
}
.field{
  input{
    width: 42%;
    height: 82%;
    outline: none;
    margin-left: 12px;
    border: 1px solid gray;
    background: white;
    padding-left: 10px;
  }
  input[type="number"]::-webkit-inner-spin-button,
  .field input[type="number"]::-webkit-outer-spin-button{
  -webkit-appearance: none;
  }
}
.slider-filter{
  height: 5px;
  border-radius: 5px;
  background: gray;
  position: relative;
  top: 15px;
  .pro{
    height: 5px;
    left: 7%;
    right: 4%;
    position: absolute;
    border-radius: 5px;
    background: #000000;
  }
}
.range-in{
  position: relative;
  input{
    position: absolute;
    top: 10px;
    height: 5px;
    width: 100%;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
  }
  input[type="range"]::-webkit-slider-thumb{
    height: 17px;
    width: 17px;
    border-radius: 50px;
    pointer-events: auto;
    -webkit-appearance: none;
    background: #000000;
    border: none;
  }
}
.ranges{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #777777;
}
