@use "../abstracts/variables";

.collection-filters {
  margin-bottom: variables.$margin-section;

  &__actives {
    display: flex;
    flex-wrap: wrap;

    & > * {
      margin: 0 15px 15px 0;
      background: variables.$color-black;
      color: variables.$color-white;
      padding: 5px;
      border-radius: 5px;
    }

    a {
      color: variables.$color-white;
    }
  }

  &__control-modal {
    background-color: transparent;
    padding: 12px;
    display: flex;
    justify-content: center;
    width: 250px;
    cursor: pointer;
  }

  &__sort-by {
    display: flex;
    align-items: center;
    margin-left: 20px;

    & > label {
      margin-right: 10px;
    }

    select {
      width: 200px;
      padding-right: 16px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    @media screen and (max-width: 750px) {
      & > .form__textfield {
        width: 100%;
      }

      & > label {
        display: none;
      }

      select {
        width: 100%;
      }
    }
  }

  &__controls {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .filter-option {
      display: flex;
      align-items: center;

      label {
        position: relative;
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;
        display: flex;
        overflow: hidden;
        height: 100%;
        box-sizing: border-box;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 8px 16px;
        margin-left: 16px;
        background-color: #b1b1b1;
        border-radius: 118px;
        color: variables.$color-white;
        cursor: pointer;
        text-transform: uppercase;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }

    & > * {
      @media screen and (max-width: 750px) {
        width: calc(50% - 10px);
      }
    }
  }
}
