.text--description{
  font-size: 16px;
  strong{
    font-weight: 600;
  }
}
.text--with--icon{
  justify-content: center;
  align-items: stretch;
  margin-top: 15px;
  padding: 15px 50px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  @media screen and (max-width: 749px) {
    border-top: none;
  }
    .icon {
      img{
        width: 100%;
        height: 100%;
      }
    }
    .text--description p {
      margin-left: 10px;
    }
}
