.main-product {
  display: flex;
  flex-wrap: wrap;

  & > .breadcrumbs {
    width: 100%;
  }

  & > .product-media {
    width: calc(65% - 50px);
    margin-right: 50px;
    position: relative;
  }

  &--product-image {
    position: relative;
    padding-bottom: 100%;
    &.product-video {
      position: relative;
      padding-bottom: initial;

    }

    img {
      position: absolute;
      object-fit: contain;
    }
  }

  &__detail {
    width: 35%;

    form {
      button {
        width: 100%;
        margin-top: 10px;
      }
    }
  }

  @media screen and (max-width: 600px) {
    flex-direction: column;

    & > .product-media {
      width: 100%;
    }

    &__detail {
      width: 100%;
    }
  }

  .breadcrumbs,
  h1,
  .price {
    margin-bottom: 15px;
  }
}
