.main-collection {
  margin: 40px 0;
}

.collection {
  &__count {
    display: block;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    .breadcrumbs {
      margin: 0;
    }
  }

  .list-products {
    &--empty {
      text-align: center;
      margin-bottom: 40px;
    }
  }

  .grid.item-list {
    --columns: repeat(4, 1fr);

    @media screen and (max-width: 1100px) {
      --columns: repeat(3, 1fr);
    }

    @media screen and (max-width: 550px) {
      --columns: repeat(2, 1fr);
    }
  }
}
