@use "../abstracts/variables";

$margin-icon: 30px;

.row-icons {
  padding-top: calc(variables.$margin-section - $margin-icon);
  padding-bottom: calc(variables.$margin-section - $margin-icon);

  &__elements {
    flex-wrap: nowrap;
    --gap-flex: 30px;
    --justify: space-around;

    @media screen and (max-width: 850px) {
      flex-wrap: wrap;
      --gap-flex: 0;
    }

    @media screen and (max-width: 650px) {
      &.slider-mobile {
        --justify: flex-start;
        overflow-x: auto;
        flex-wrap: nowrap;
        margin-left: - variables.$paddings-side--movil;
        margin-right: - variables.$paddings-side--movil;
        padding-left: variables.$paddings-side--movil;
        padding-right: variables.$paddings-side--movil;
  
        .row-icons__element {
          flex-shrink: 0;
          width: auto;
          padding: 0 20px;
        }

        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }

  &__element {
    width: 23%;
    padding: 0;
    margin-top: $margin-icon;
    margin-bottom: $margin-icon;
    box-sizing: border-box;
    display: flex;
    align-items: center;

    @media screen and (max-width: 850px) {
      width: 45%;
    }

    @media screen and (max-width: 425px) {
      width: 100%;
      padding: 0 20px;

      &.position__left {
        justify-content: center;
      }
    }
    
    img {
      border-radius: 50%;
    }

    h3 {
      margin: 10px 0;
    }

    &.position__left {
      justify-content: space-around;
      
      img {
        margin-right: $margin-icon;
      }

      h3 {
        font-size: 20px;
      }
    }

    &.position__top {
      justify-content: center;
      flex-direction: column;

      h3 {
        font-size: 20px;
        text-align: center;
      }

      p {
        text-align: center;
      }
    }
  }
}
