
.container-quantity {
  display: flex;
  justify-content: flex-start;
  padding: 10px 10px 10px 0;

  input {
    width: 38px;
    height: 28px;
    text-align: center;
  }
  .btn-change {
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
  }
}