.ratings {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  color: #b1b1b1;
  overflow: hidden;

  &__full-stars{
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    overflow: hidden;
    color: #00602C;
  }

  &__empty-stars:before, &__full-stars:before {
    content: "\2605\2605\2605\2605\2605";
    font-size: 14pt;
  }
  
  &__empty-stars:before {
    -webkit-text-stroke: 1px #00602C;
    color: #fff;
  }
  
  &__full-stars:before {
    -webkit-text-stroke: 1px #00602C;
  }
  
  /* Webkit-text-stroke is not supported on firefox or IE */
  /* Firefox */
  @-moz-document url-prefix() {
    &__full-stars {
      color: #00602C;
    }
  }

}