@use '../abstracts/variables';

.reviews {
  margin: 1rem auto;

  &__title {
    margin-bottom: 0.5;
  }

  &__single {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;
    padding: 20px;
    height: 100%;
    box-sizing: border-box;
    border: 2px double variables.$color-black;

    & > * {
      margin-bottom: 0.5rem;
    }
  }

  &__header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: 1rem;

    &-ratings-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: .5rem;
      background-color: var(--color-btn-bg-3);
      margin-bottom: 0.5rem;
    }

    &-ratings-count {
      margin-left: 0.3rem;
    }

    &-icon {
      margin-bottom: 0.5rem;
    }
  }

  .swiper {
    &-wrapper {
      align-items: stretch;
    }

    &-slide {
      height: auto;
    }
  }
}

