<span class="collection__count">
  {%  if settings.active_breadcrumbs_product %}
    {% render 'breadcrumbs' %}
  {% endif %}
  {{ 'sections.collection_template.count_products'
    | t: count: collection.products_count
  }}
</span>

{% paginate collection.products by section.settings.pagination %}
  <div
    id="list-products"
    class="list-products"
  >
    {% if collection.products.size == 0 %}
      <div class="list-products--empty">
        {{ 'sections.collection_template.empty' | t }}
      </div>
    {% endif %}

    <div class="grid item-list">
      {% for product in collection.products %}
        {% render 'product-card'
          product: product
        %}
      {% endfor %}
    </div>

    {% render 'pagination-scroll'
      type_paginate: "buttonLoadMore"
      container: ".item-list",
      item: ".product-card",
      section_render: "collection-products",
      current_url: collection.url,
      paginate: paginate
    %}
  </div>
{% endpaginate %}

{% schema %}
{
  "name": "Products in collection",
  "tag": "section",
  "class": "collection wrapper",
  "settings": [
    {
      "type": "range",
      "id": "pagination",
      "label": "Products by page",
      "unit": "Pr",
      "min": 1,
      "max": 100,
      "step": 1,
      "default": 6
    }
  ]
}
{% endschema %}
