<div class="wrapper">
  <div class="flex collection-filters_controls">
    <span>
      {{ 'sections.collection_template.count_products'
        | t: count: collection.products_count 
      }}
    </span>

    <button id="filter-open" class="flex">
      {% render 'icon-filter' %}
    </button>
  </div>
</div>

{% render 'filtering-store' %}

{% schema %}
  {
    "name": "filters",
    "tag": "section",
    "class": "collection-filters",
    "settings": [
    ]
  }
{% endschema %}