<div class="wrapper">
  <div class="flex collection-filters__controls">
    <div class="filter-option">
      <button
        type="button"
        id="filter-open"
        class="flex"
      >
        {% render 'icon-filter' %}
      </button>
      <label>
        <input
            class="clear-filter-js hidden"
            type="radio"
            name="filter"
        >
        <div class="filter-design"></div>
        <span class="filter-label">
            Clear all
        </span>
      </label>
    </div>

    <div>
      <select id="sort-by">
        <!-- eslint-disable-next-line max-len -->
        {% assign sort_by = collection.sort_by | default: collection.default_sort_by %}
        {% for option in collection.sort_options %}
          <!-- eslint-disable @html-eslint/no-extra-spacing-attrs -->
          <option
            value="{{ option.value }}"
            {% if option.value == sort_by %} selected="selected"{% endif %}
          >
            {{ option.name }}
          </option>
          <!-- eslint-enable @html-eslint/no-extra-spacing-attrs -->
        {% endfor %}
      </select>

      <span>
        {{ 'sections.collection_template.count_products'
          | t: count: collection.products_count
        }}
      </span>
    </div>
  </div>
</div>

{% render 'filtering-store' %}

{% schema %}
{
  "name": "filters",
  "tag": "section",
  "class": "collection-filters",
  "settings": [
  ]
}
{% endschema %}
