<div id="product-recommendations">
  <div class="recommendation collection-card">
    {%- if recommendations.products_count > 0 -%}
      <h2>You may also like</h2>

      <div class="recommendation__wrapper">
        <div class="collection custom__collection">
          {%- for product in recommendations.products -%}
          {% render 'product-card'
            product: product,
          %}
          {%- endfor -%}
        </div>
      </div>
    {%- endif -%}
  </div>
</div>
