@use "../abstracts/variables";

.footer {
  --column-gap: 30px;
  --row-gap: 50px;
  --rows: auto;
  border-top: 1px solid;

  @media screen and (max-width: 650px) {
    text-align: center;
    --columns: 1fr;
  }

  > * {
    padding: 40px 0;
  }

  &-blocks {
    background-color: var(--color-base-bg);
  }

  > *:last-child {
    padding: 20px 0;
    border-top: 1px solid;
    text-align: center;
    --gap-flex: 10px;

    & > span {
      font-size: 10px;
    }
  }

  &-title {
    display: block;
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: 600;
  }

  &-subtitle {
    display: block;
    margin-bottom: 15px;
  }

  &-list {
    list-style: none;

    li:not(:last-of-type) {
      margin-bottom: 10px;
    }

    li > a {
      color: #000;
      font-size: 16px;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &-newslatter {
    padding: 2px 10px;

    & > input {
      background-color: transparent;
    }

    button {
      display: flex;
      align-items: center;
      padding: 0;
      border-style: none;
      margin: 0;
      background-color: transparent;

      svg {
        cursor: pointer;
        width: 20px;
      }
    }
  }
}

%notification {
  display: block;
  margin-top: 15px;
  font-size: 16px;
}

#ContactFooter {
  &-success,
  &-success-exist {
    @extend %notification;
    color: variables.$color-success;

    &.error-js {
      display: none;
    }
  }

  &-error {
    @extend %notification;
    color: variables.$color-error;
  }
}
